<section class="main-body">
  <div class="row wrap">
    <div class="small-6 columns">
    <h2>Edit this movie 
      <small>
        (<%= link_to "show",movie_path(@movie) %>|
        <%= link_to "delete", movie_path(@movie), method: :delete, data: {confirm: "Are you sure you want to delete this movie?"} %>)
      </small>
    </h2>
    <%= render 'form' %>
    </div>
  </div>
</section>