<%= render 'layouts/hero' %>
<section class="main">
  <% @movies.each do |movie| %>
  <%= render partial: 'movie', locals: {movie: movie} %>
  <% end %>
  <div class="wrap row">
    <div class="pagination-bar">
      <%= paginate @movies %>
    </div>
  </div>
</section>