<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your account has been deleted.</h1>
    <p>
      Your account was terminated by an admin.
    </p>
    <p>
      If you have any questions, please email us at help@rottenmangoes.ca
    </p>
    <p>Have a great day!</p>
  </body>
</html>